<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
      <ion-button size="small" color="primary" style="right: 0px; position: absolute; left: 80vw; width: 10vw;" (click)="onCreateClick()">作成</ion-button>
    </ion-buttons>
    <ion-title><ion-input type="text" placeholder="タイトルを入力" [(ngModel)]="title" name="title"></ion-input></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="height: 75vh;">
    <ion-item *ngFor="let friend of friendList" style="width:100vw;">
            <ion-checkbox [(ngModel)]="friend.isChecked " name="isChecked" ></ion-checkbox>
            <ion-avatar>
                    <img src="../../assets/icon/favicon.png">
            </ion-avatar>
            <div>
                    <p style="padding-left: 10px;     margin: 0 0 0 0;">{{friend.name}}</p>
                    <p style="padding-left: 10px;     margin: 0 0 0 0;">@{{friend.id}}</p>  
            </div>
    </ion-item>
</ion-list>
</ion-content>
