<ion-header>
  <ion-toolbar>
    <ion-title>トーク</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content main padding>
  <ion-list>
    <ion-item *ngFor="let room of rooms" (click)="joinRoom(room.id)">
      {{room.Title}}
      <ion-icon name="chatboxes" slot="end"></ion-icon>
      <ion-note item-end style="margin: 0 0 0 auto;">{{room.last_date | date:"yy/MM/dd HH:mm"}}</ion-note>
    </ion-item>
  </ion-list>
  <!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onCreatebuttonClick()">
  <ion-fab-button>
    <ion-icon name="add" ></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
