<ion-header>
  <ion-toolbar>
    <ion-avatar slot="start" (click)="profile(id)">
      <img src="{{my_src}}">
    </ion-avatar>
    <ion-title>timeline</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="refreshAction($event)" slot="fixed" pullMin="40" pullMax="80">
    <ion-refresher-content pullingIcon="arrow-dropdown"
                           refreshingSpinner="circles">
    </ion-refresher-content>
</ion-refresher>
  <ion-list>
    <ion-card *ngFor="let timeline of timelineList" (click)="profile(timeline.post_user_id)">
                    <ion-item  item-start >
                            <ion-avatar item-start>
                                    <img src="{{timeline.post_user_avator}}">
                            </ion-avatar>
                            <div>
                                    <p style="padding-left: 10px;     margin: 0 0 0 0;">{{timeline.post_user_name}}</p>
                                    <p style="padding-left: 10px;     margin: 0 0 0 0;">@{{timeline.post_user_id}}</p>  
                            </div>
                            
                            <ion-note item-end style="margin: 0 0 0 auto;">{{timeline.post_date | date:"yy/MM/dd HH:mm"}}</ion-note>
                    </ion-item>
                    <ion-item [hidden]="!timeline.src.src_type || !timeline.src.src_url" >
                    <div id=”player” style="margin: 0 auto 0 auto;">
                      {{timeline.src}}
                    </div>
                    </ion-item>
                    <ion-item  style="left:20px">
                            <div style="margin: 0 auto 0 0;">
                                    <p >{{timeline.text}}<span style="color:rgb(99, 99, 99);"></span></p>
                            </div>
                    </ion-item>
                    <ion-item style="left:20px  display:flex; justify-content:space-between; flex-direction: row;">
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <ion-icon name="chatboxes"></ion-icon>{{timeline.chat_count}}
                          </ion-col>
                          <ion-col>
                            <ion-icon name="heart"></ion-icon>{{timeline.fav_count}}
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ion-item>
    </ion-card>
</ion-list>
<ion-infinite-scroll threshold="100px" (ionInfinite)="loadNextData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="ロード中">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
<!-- fab placed to the bottom end -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="onTweetbuttonClick()">
  <ion-fab-button>
    <ion-icon name="logo-twitter" ></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
