<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="timeline/{{id}}">
      <ion-icon name="flash"></ion-icon>
      <ion-label>タイムライン</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search/{{id}}">
      <ion-icon name="search"></ion-icon>
      <ion-label>search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar/{{id}}">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>予定</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="talklist/{{id}}">
      <ion-icon name="ios-chatboxes"></ion-icon>
      <ion-label>トーク</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
