<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="chat-list">
    <ion-item *ngFor="let message of messageList | keyvalue ; trackBy: trackItem" no-lines>
        <div class="chat-message" text-right *ngIf="message.value.user_id === user_id">
          <div class="right-bubble">
            <span class="msg-name">{{message.value.user_name}}</span>
            <span class="msg-date">{{message.value.datetime }}</span>
            <p text-wrap>{{message.value.text}}</p>
          </div>
        </div>
        <div class="chat-message" text-left *ngIf="message.value.user_id !== user_id">
          <div class="left-bubble">
            <span class="msg-name">{{message.value.user_name}}</span>
            <span class="msg-date">{{message.value.datetime }}</span>
            <p text-wrap>{{message.value.text}}</p>
          </div>
        </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>

  <ion-toolbar>
    <ion-input type="text" placeholder="Type a message" [(ngModel)]="chatMessage" name="message"></ion-input>
    <ion-buttons slot="end">
      <ion-button slot="end" color="primary" (click)="sendChatMessage()">
        Send
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>